/* 1. Please try to stlyle this website so that that Animals, Lion, Tiger and Bear all have a lightyellow background, and Plants, Oak, Pine and Birch all have a lightgreen background*/
/*Hint: remember CSS for background colors: background-color: "red"; You need to check the HTML file called "warm-up.html*/
/*Apply padding: 10px; to each element*/




/* 2. Please style the headings to be blue*/





/*3. COMPLETE AFTER THE LESSON*/
/*Please categorize the animals as wild or domestic. Use lightcoral for wild and lightcyan for domestic*/



